body {
    
    background-color: #E7DBC0;
    display: flex;
    flex-direction: column;
    margin: 0em;
    padding: 0em;
    width: 100%;
}


* {
    padding: 0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.cabecera {
    position: fixed;
    z-index: 10;
    width: 100%;
}



.margenIzquierdo {
    display: flex;
    background-color: #E7DBC0;
    width: 30%;
    height: 100%;

}

.margenDerecho {
    display: flex;
    background-color: #E7DBC0;
    width: 30%;
    height: 100%;
}




.container-fluid {

    background-color: #988686;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cuerpo {

    background-color: #E7DBC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    width: 80%;

}



#carouselExampleControls {
    size-adjust: auto;
}


@media (max-width: 500px){

    .mapa{
        size-adjust: auto;
    }
}

p {
    display: flex;
    margin: 2em;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}