body {
    
    background-color: #E7DBC0;
    display: flex;    
    flex-direction: column;
    margin: 0em;
    padding: 0em;
    width: 100%;
}

*{
    padding: 0!important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.cabecera{
    position: fixed;
    z-index: 10;
    width: 100%;
}




.margenIzquierdo{
    display: flex;
    background-color: #E7DBC0;
    width: 20%;
    height: 100%;

}

.foto{

    width: 100%;
}

.margenDerecho{
    display: flex;
    background-color: #E7DBC0;
    width: 20%;
    height: 100%;
}




.container-fluid{

    background-color: #988686;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cuerpo{

    background-color:#E7DBC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
    height: 100%;
    width: 80%;

}

.menuCostillar{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listaMenu{

    display: flex;
    flex-direction: row;    
}

.menu1{
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.menu2{
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.menu3{
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.alternativaMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listaMenu2{    
    display: flex;
    flex-direction: row;    
}

.menu4{
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.menu5{
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.extras{
    display: flex;
    flex-direction: column;
    margin: 3em;
}

