body {
    
    background-color: #E7DBC0;
    display: flex;    
    flex-direction: column;
    margin: 0em;
    padding: 0em;
    width: 100%;
}

.all{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.margenIzquierdo{
    display: flex;
    background-color: #E7DBC0;
    width: 20%;
    height: 100%;

}

.margenDerecho{
    display: flex;
    background-color: #E7DBC0;
    width: 20%;
    height: 100%;
}




.container-fluid{

    background-color: #988686;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cuerpo{

    background-color:#E7DBC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
    height: 100%;
    width: 80%;

}

#carouselExampleControls{
    size: 20em;
}