

body {
    
    background-color: #E7DBC0;
    display: flex;    
    flex-direction: column;
    margin: 0em;
    padding: 0em;
    width: 100%;
}

.margenIzquierdo{

    background-color: #E7DBC0;
    width: 20%;
    height: 100%;

}

.foto{

    width: 100%;
}

.margenDerecho{

    background-color: #E7DBC0;
    width: 20%;
    height: 100%;
}




.container-fluid{

    background-color: #988686;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cuerpo{

    background-color: #D1D0D0;
    display: flex;
    flex-direction: column;
    margin-left: 10em;
    margin-right: 10em;
    height: 100vh;
    width: 80%;

}

.bienvenidos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nuestroMenu{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cruz{

    display: flex;
    flex-direction: row;
}
